/*--------------------------------------------------------------------*/
/* Change default height */
body {
  max-height: initial;
  max-width: initial;
}

/* Change default caption style of BS4 */
caption {
  caption-side: top;
}

/*--------------------------------------------------------------------*/
