.toggle-content {
  display: none;
}

.toggle-content.is-visible {
  display: block;
}

/*--------------------------------------------------------------------*/

/* Change default caption style of BS4 */
caption {
  caption-side: top;
}

/*--------------------------------------------------------------------*/
div#canvas-org-m svg {
  width: 100%;
  height: 100%;
}

div#canvas-proc-m svg {
  width: 100%;
  height: 100%;
}

div#proc-m-title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 120%;
}

form.config {
  font-family: Helvetica, Arial, sans-serif;
}

