<!DOCTYPE html>
<html lang="en">

<head>
    <title> Arya </title>
    <link rel="stylesheet" type="text/css" href="../static/css/arya.css">
</head>

<body>
    <h3> Project Arya </h2>
    <h5 style="font-style: italic"> Visualize an organizational model </h4>

    <div id="container">

        <div id="box-instruction-input-log">
            Click the buttons below to upload an event log file for analysis.
            Current acceptable file formats include:
            <ul>
                <!--
                <li> <b> *.csv </b>, Colon-Separated Values file, 
                    which is expected to be exported from 
                    <a href="https://fluxicon.com/disco/">
                        Fluxicon Disco</a>.
                -->

                </li>
                <li> <b> *.xes </b>, eXtensible Event Stream file, 
                    which is expected to be compatible with 
                    <a href="https://pm4py.fit.fraunhofer.de/documentation#importing">
                        PM4PY</a>.
                    See the documentation for more information.
                </li>
            </ul>


            {% if has_log %}
                <form action="/clear_reset" method="GET">
                    <input id="btn-clear-event-log" type="submit"
                        value="Clear & Reset">
                </form>
                <div id="box-info-input-log">
                    <p>You have uploaded an event log file:
                    <mark> <ins> {{ log_info.filename }} </ins> </mark>.
                    Below are some of the basic information of the 
                    uploaded event log: </p>
                    <ul>
                        <li> number of events: 
                            <b> {{ log_info.num_events }} </b> 
                        </li>
                        <li> number of cases (by case ID):
                            <b> {{ log_info.num_cases }} </b>
                        </li>
                        <li> number of activities (by activity label):
                            <b> {{ log_info.num_activities }} </b>
                        </li>
                        <li> number of resources (by resource ID):
                            <b> {{ log_info.num_resources }} </b>
                        </li>
                    </ul>
                </div>
            {% else %}
                <form action="/" method="POST"
                    enctype="multipart/form-data">
                    <input type="file" name="file_event_log"><br>
                    <input id="btn-import-event-log" type="submit" 
                        value="Upload">
                </form>
            {% endif %}

            <p> For a demo that shows a toy example used in the paper,
                click <a href="/demo">here</a>.
        </div>


        <div id="box-config">
            Configure options for discovering an organizational model:
            <img src="../static/resources/approach.png" alt="Approach"
                width="560" height="80">

            <div>
            <p> <b> Phase 1. Learn execution modes </b> </p>
            <form id="opt-learn-execution-modes" class="config">
                <input type="radio" name="phase1" 
                    value="direct_groupby.ATonlyMiner">
                    ATonly
                <br>
                <input type="radio" name="phase1" 
                    value="direct_groupby.FullMiner">
                    CT+AT+TT (case attribute)
                <br>
                <!--
                <input type="radio" name="phase1" 
                    value="informed_groupby.TraceClusteringFullMiner">
                    TBD: CT+AT+TT (trace clustering)
                <br>
                -->
            </form>

            <div class="box-subconfig toggle-content">
                <form class="subconfig toggle-content">
                    <!-- no subconfig for ATonly -->
                </form>

                <form class="subconfig toggle-content">
                    <p> Select the field to be used as the case-level attribute 
                    for deciding case types.</p>
                    <select type="text" name="phase1-subopt"
                        param="case_attr_name">
                    {% for attr in log_info.attributes %}
                        <option value={{ attr }}> {{ attr }} </option>
                    {% endfor %}
                    </select>

                    <p> Select the level of resolution for time types expected.
                        </p>
                    <select type="text" name="phase1-subopt"
                        param="resolution">
                        <option value="hour"> hour </option>
                        <option value="day"> day </option>
                        <option value="weekday"> weekday </option>
                        <option value="month"> month </option>
                    </select>

                    <!--
                    <p> Specify the format for the timestamp field, if not 
                    identical with the following default format (see 
                    <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes">
                        HOWTO</a> specify the format). </p>
                    <input type="text" name="phase1-subopt"
                        param="datetime_format"
                        value="%Y/%m/%d %H:%M:%S.%f">
                    -->
                </form>

                <!--
                <form class="subconfig toggle-content">
                    (TBD: parameter settings from the ProM plugin for TC)
                    <input type="text" name="phase1-subopt">
                </form>
                -->
            </div>
            </div>

            <div>
            <p> <b> Phase 2. Discover resource grouping </b> </p>
            <form id="opt-discover-resource-grouping" class="config">
                <input type="radio" name="phase2" 
                    value="clustering.hierarchical.ahc">
                    AHC
                <br>
                <input type="radio" name="phase2" 
                    value="clustering.overlap.moc">
                    MOC
                <br>
            </form>

            <div class="box-subconfig toggle-content">
                <form class="subconfig toggle-content">
                    <p> Specify the number of resource groups expected, 
                    e.g., "3" (excluding quotes) </p>
                    <!--; or, specify a range of possible numbers to 
                    be determined in the format of e.g., "3-5". (Exclude 
                    the quotes) </p>
                    -->
                    {% if has_log %}
                        <input type="number" name="phase2-subopt"
                            param="n_groups"
                            min="2" max={{ log_info.num_resources-1 }} 
                            step="1" required>
                    {% else %}
                        <input type="number" name="phase2-subopt"
                            param="n_groups"
                            step="1" required>
                    {% endif %}

                    <p> Specify the method for merging clusters. </p>
                    <select type="text" name="phase2-subopt"
                        param="method">
                        <option value="single"> single </option>
                        <option value="complete"> complete </option>
                        <option value="ward"> ward </option>
                    </select>
                </form>

                <form class="subconfig toggle-content">
                    <p> Specify the number of resource groups expected, 
                    e.g., "3" (excluding quotes) </p>
                    <!--; or, specify a range of possible numbers to 
                    be determined in the format of e.g., "3-5". (Exclude 
                    the quotes) </p>
                    -->
                    {% if has_log %}
                        <input type="number" name="phase2-subopt"
                            param="n_groups"
                            min="2" max={{ log_info.num_resources-1 }} 
                            step="1" required>
                    {% else %}
                        <input type="number" name="phase2-subopt"
                            param="n_groups"
                            step="1" required>
                    {% endif %}

                    <p> Specify the method for parameter initialization. </p>
                    <select type="text" name="phase2-subopt"
                        param="init">
                        <option value="kmeans"> KMeans </option>
                    </select>
                </form>
            </div>
            </div>

            <div>
            <p> <b> Phase 3. Assign execution modes </b> </p>
            <form id="opt-assign-execution-modes" class="config">
                <input type="radio" name="phase3" 
                    value="full_recall">
                    FullRecall
                <br>
                <input type="radio" name="phase3" 
                    value="overall_score">
                    OverallScore
                <br>
            </form>

            <div class="box-subconfig toggle-content">
                <form class="subconfig toggle-content">
                    <!-- no subconfig for ATonly -->
                </form>

                <form class="subconfig toggle-content">
                    <p> Specify the weightings to be used. 
                        (floats ranged from 0.0 to 1.0 and summed up to
                        1.0) </p>
                    Weight given to Group Relative Stake:
                    <input type="number" name="phase3-subopt" 
                        param="w1"
                        value="0.5" required> 
                    Weight given to Group Coverage:
                    <input type="number" name="phase3-subopt" 
                        param="w2"
                        value="0.5" required>
                    <p> Specify the threshold value.
                        (float ranged from 0.0 to 1.0) </p>
                    <input type="number" name="phase3-subopt" 
                        param="p"
                        min="0" max="1" step="0.1" 
                        value="0.5" required>
                </form>
            </div>
            </div>

            <br>
            <button id="btn-submit-config" label="submit"
                type="button"> Discover model </button>
        </div>
    </div>

</body>

<script>
    var show = function(elem) {
        elem.classList.add("is-visible");
    };
    var hide = function(elem) {
        elem.classList.remove("is-visible");
    };
    var toggle = function(elem) {
        elem.classList.toggle("is-visible");
    };

    for (var formConfig of document.getElementsByClassName("config")) {
        for (var radio of formConfig.getElementsByTagName("input")) {
            radio.addEventListener("click", function() {
                var divSubConfig = this.parentNode.nextElementSibling;
                show(divSubConfig);
                var index = Array.prototype.indexOf.call(
                    this.parentNode.getElementsByTagName("input"),
                    this);
                var subConfigList = divSubConfig
                    .getElementsByClassName("subconfig");
                for (var k = 0; k < subConfigList.length; k++) {
                    (k != index) ? 
                        hide(subConfigList[k]) :
                        show(subConfigList[k]);
                }
            });
        }
    }

    var fetchConfig = function(phase) {
        var config = new Object();

        config["method"] = document.querySelector(
            "input[name=" + phase + "]:checked").value;

        var subConfig = new Object();
        for (var paramElem of document.querySelectorAll(
            "form.is-visible > [name=" + phase + "-subopt]")) {
            const param = paramElem.getAttribute("param");
            switch (paramElem.tagName.toLowerCase()) {
                case "input":
                    switch (paramElem.getAttribute("type")) {
                        case "radio":
                            var value = paramElem.querySelector(
                                "input:checked").value;
                            break;
                        case "number":
                            var value = Number(paramElem.value);
                            break;
                        case "text":
                            var value = paramElem.value;
                            break;
                        default:
                            // do nothing (should not fall into here)
                    }
                    break;
                case "select":
                    var value = paramElem.options[paramElem.selectedIndex]
                        .value;
                    break;
                default:
                    // do nothing (should not fall into here)
            }
            subConfig[param] = value;
        }
        config["params"] = subConfig;

        return config;
    };

    var btnSubmit = document.getElementById("btn-submit-config");
    btnSubmit.addEventListener("click", function() {
        {% if has_log %}
            alert("Please wait until the results are derived and" +
                " visualized.");
            this.disabled = true;

            const cfgPhase1 = fetchConfig("phase1"); 
            const cfgPhase2 = fetchConfig("phase2"); 
            const cfgPhase3 = fetchConfig("phase3"); 

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE 
                    && this.status === 200) {
                    document.open();
                    document.write(xhr.responseText);
                    document.close();
                }
            };
            xhr.open("POST", "/view", false);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify([
                cfgPhase1, cfgPhase2, cfgPhase3
            ]));

        {% else %}
            alert("No event log file has been provided yet. " +
                "Please check again.");
        {% endif %}
    });

</script>

</html>

