{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main %}
<div class="container-fluid">
<!-- Outer row-->
<div class="row">

<!-- Left panel: for model visualization -->
<div class="col-md-9">

    <div class="row my-3">
    <div class="col-md">
        <div class="row shadow-sm">
        <div class="col-4">
            <ul class="nav nav-pills small">
                <li class="nav-item">
                    <a class="nav-link bg-info text-white active">
                        Organizational model view
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-8">
            <ul class="nav nav-pills small float-right">
                <li class="nav-item ml-2">
                    <a class="nav-link bg-secondary text-white reset-btn"
                        label="organizational-model">
                        Reset view
                    </a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link bg-secondary text-white export-btn"
                        label="organizational-model">
                        Export SVG
                    </a>
                </li>
            </ul>
        </div>
        </div>

        <div class="row">
        <div class="col mx-auto canvas border border-info rounded shadow" 
            id="canvas-org-m" label="organizational-model">
        </div>
        </div>
    </div>
    </div>

    <div class="row my-3">
    <div class="col-md">
        <div class="row shadow-sm">
        <div class="col-4">
            <ul class="nav nav-pills small">
                <li class="nav-item">
                    <a class="nav-link bg-info text-white active">
                        Process model view
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-8">
            <ul class="nav nav-pills small float-right">
                <li class="nav-item ml-2">
                    <a class="nav-link bg-secondary text-white reset-btn"
                        label="process-model">
                        Reset view
                    </a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link bg-secondary text-white export-btn"
                        label="process-model">
                        Export SVG
                    </a>
                </li>
            </ul>
        </div>
        </div>

        <div id="proc-m-title"></div>
        <div class="row">
        <div class="col mx-auto canvas border border-info rounded" 
            id="canvas-proc-m" label="process-model">
        </div>
        </div>
    </div>
    </div>
</div>

<!-- Right panel: for statistics report -->
<div class="col-md-3">

    <div class="row my-3">
    <div class="col-sm">
        <ul class="nav nav-pills small">
            <li class="nav-item">
                <a class="nav-link bg-info text-white active">
                    Global Conformance
                </a>
            </li>
        </ul>
        <div class="border border-info rounded">

        </div>
    </div>
    </div>

    <div class="row my-3">
    <div class="col-sm">
        <ul class="nav nav-pills small">
            <li class="nav-item">
                <a class="nav-link bg-info text-white active">
                    Local Diagnostics
                </a>
            </li>
        </ul>
        <div class="border border-info rounded">

        </div>
    </div>
    </div>

</div>

<!-- End of outer row -->
</div>
<!-- End of container -->
</div>
{% endblock %}

{% block javascript %}
<script src="{{url_for('static', filename='js/d3.v4.min.js')}}"></script>
<script src="{{url_for('static', filename='js/viz.js')}}"></script>
<script src="{{url_for('static', filename='js/d3-graphviz.js')}}"></script>
<script src="{{url_for('static', filename='js/d3-save-svg.min.js')}}"></script>

<script src="{{url_for('static', filename='js/arya-data.js')}}"></script>
<script src="{{url_for('static', filename='js/arya-controller.js')}}"></script>

<script>

    // retrieve organizational model data
    var orgModelData = {{ data_org_model|tojson }};

    const delim = '/::/'; // NOTE: must define for data exchange

    var df = new DataFactory(orgModelData);
    var waiter = new Waiter(df);

    function renderOrgM(nodeList, edgeList) {
        var dotSrcString = df.compileDotString(nodeList, edgeList);
        //console.log("Renderer invoked for source:\n" + dotSrcString);

        var transition_effect = d3.transition()
            .duration(500).ease(d3.easeLinear);

        d3.select("#canvas-org-m").graphviz().fit(true)
            .transition(transition_effect)
            .engine("dot")
            .renderDot(dotSrcString, function() {
                waiter.attachSVGListeners(
                    [nodeList, edgeList],
                    d3.select("#canvas-org-m").select(".graph"));

                d3.select("div#canvas-org-m > svg").on("dblclick.zoom", null);
            });
    }

    function renderProcMDot(dotSrcString, title) {
        d3.select("div#proc-m-title").text(title);
        if (dotSrcString == null) {
            d3.select("#canvas-proc-m").selectAll("svg > *").remove();
        } else {
            console.log("Renderer invoked for process model.");
            var transition_effect = d3.transition()
                .duration(500).ease(d3.easeLinear);
            
            d3.select("#canvas-proc-m").graphviz().fit(true)
                .transition(transition_effect)
                .engine("dot")
                .renderDot(dotSrcString, function() {
                    d3.select("div#canvas-proc-m > svg").on(
                        "dblclick.zoom", null);
                });
        }
    }

    /* Display all group nodes and all first level modes when page loaded. */
    var [initNodeList, initEdgeList] = waiter.resetToInit();
    renderOrgM(initNodeList, initEdgeList);

    /* TODO: Setup for reset svg zoom. */
    $(".reset-btn").click(function() {
        // do nothing
        var label = $(this).attr("label");
        alert("TODO: refresh the view of " + label);
    });


    /* Setup for svg export. */
    $(".export-btn").click(function() {
        var label = $(this).attr("label");
        d3_save_svg.save(
            d3.select(".canvas[label='" + label + "']")
                .select("svg").node(), 
            {filename: label});
    });


</script>
{% endblock %}
