<!DOCTYPE html>
<html lang="en">

<head>
    <title> Arya </title>
    <link rel="stylesheet" type="text/css" href="../static/css/arya.css">
</head>

<body>
    <h3> Project Arya </h2>
    <h5 style="font-style: italic"> Visualize an organizational model </h4>

    <div id="container">
        Canvas for plotting an organizational model.
        <div id="canvas-org-m">
            <!-- <button id="reset-org-m-vis" label="organizational-model" 
                type="button" class="reset-btn"> Reset view </button> -->
            <button id="export-org-m-vis" label="organizational-model" 
                type="button" class="export-btn"> Export SVG </button>
        </div>

        Canvas for plotting a process model of:
        <div id="proc-m-title"></div>
        <div id="canvas-proc-m">
            <!-- <button id="reset-proc-m-vis" label="process-model"
                type="button" class="reset-btn"> Reset view </button> -->
            <button id="export-proc-m-vis" label="process-model"
                type="button" class="export-btn"> Export SVG </button>
        </div>
    </div>
</body>

<script src="../static/javascript/d3.v4.min.js"></script>
<script src="../static/javascript/viz.js"></script>
<script src="../static/javascript/d3-graphviz.js"></script>
<script src="../static/javascript/jquery-3.4.1.min.js"></script>
<script src="../static/javascript/d3-save-svg.min.js"></script>

<script src="../static/javascript/arya.data.js"></script>
<script src="../static/javascript/arya.controller.js"></script>

<script>

    // retrieve organizational model data
    var orgModelData = {{ data_org_model|tojson }};

    const delim = '/::/'; // NOTE: must define for data exchange

    var df = new DataFactory(orgModelData);
    var waiter = new Waiter(df);

    function renderOrgM(nodeList, edgeList) {
        var dotSrcString = df.compileDotString(nodeList, edgeList);
        //console.log("Renderer invoked for source:\n" + dotSrcString);

        var transition_effect = d3.transition()
            .duration(500).ease(d3.easeLinear);

        d3.select("#canvas-org-m").graphviz().fit(true)
            .transition(transition_effect)
            .engine("dot")
            .renderDot(dotSrcString, function() {
                waiter.attachSVGListeners(
                    [nodeList, edgeList],
                    d3.select("#canvas-org-m").select(".graph"));

                d3.select("div#canvas-org-m > svg").on("dblclick.zoom", null);
            });
    }

    function renderProcMDot(dotSrcString, title) {
        d3.select("div#proc-m-title").text(title);
        if (dotSrcString == null) {
            d3.select("#canvas-proc-m").selectAll("svg > *").remove();
        } else {
            console.log("Renderer invoked for process model.");
            var transition_effect = d3.transition()
                .duration(500).ease(d3.easeLinear);
            
            d3.select("#canvas-proc-m").graphviz().fit(true)
                .transition(transition_effect)
                .engine("dot")
                .renderDot(dotSrcString, function() {
                    d3.select("div#canvas-proc-m > svg").on(
                        "dblclick.zoom", null);
                });
        }
    }

    /* Display all group nodes and all first level modes when page loaded. */
    var [initNodeList, initEdgeList] = waiter.resetToInit();
    renderOrgM(initNodeList, initEdgeList);

    /* TODO: Setup for reset svg zoom. */
    d3.selectAll(".reset-btn").on("click", function() {
        // do nothing
    });


    /* Setup for svg export. */
    d3.selectAll(".export-btn").on("click", function() {
        d3_save_svg.save(d3.select(this.parentNode).select("svg").node(), 
            {filename: this.getAttribute("label")});
    });


</script>

</html>

